div.kutu1{
    background-color: #009CFF;
    width: 150px;
    margin-top: 2rem;
    margin-bottom: 16px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

div.kutu2{
    background-color: purple;
    padding: 3rem 5rem 4rem 7rem;
          /* top-right-bottom-left */
}